.version.classes /* version checker */
{
	color: #00000C;
	background-color: #CBD799;
}

.html
{
	background-color: #F3F2EB;
}

#page
{
	z-index: 1;
	width: 1890px;
	min-height: 2566px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -25px;
	width: 0.01px;
}

#top
{
	margin-left: 1170px;
}

#pu1556
{
	width: 0.01px;
	margin-left: -180px;
	margin-top: 36px;
}

#u1556
{
	z-index: 2;
	width: 1890px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 180px;
}

#u1556_position_content
{
	padding-top: 7px;
	padding-bottom: 85px;
}

#u1538
{
	z-index: 3;
	width: 1155px;
	height: 1px;
	background-color: #E8E9E9;
	margin-left: 376px;
	position: relative;
}

#pu1540
{
	width: 0.01px;
	margin-left: 760px;
	margin-top: 153px;
}

#u1540
{
	z-index: 299;
	width: 370px;
	height: 216px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/classes_img_02.jpg") no-repeat left top;
}

#u1543
{
	z-index: 300;
	width: 370px;
	height: 216px;
	position: relative;
	margin-right: -10000px;
	left: 400px;
	background: transparent url("../images/classes_img_03.jpg") no-repeat left top;
}

#pu1544-5
{
	width: 0.01px;
	margin-left: 360px;
	margin-top: 29px;
}

#u1544-5
{
	z-index: 4;
	width: 370px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	color: #FF4444;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u1545-5
{
	z-index: 9;
	width: 370px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	color: #FF4444;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u1546-5
{
	z-index: 14;
	width: 370px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	color: #FF4444;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#pu1547-8
{
	width: 0.01px;
	margin-left: 361px;
	margin-top: 11px;
}

#u1547-8
{
	z-index: 19;
	width: 370px;
	min-height: 107px;
	background-color: transparent;
	font-size: 15px;
	line-height: 20px;
	color: #7D8A9D;
	position: relative;
	margin-right: -10000px;
}

#u1548-8
{
	z-index: 27;
	width: 370px;
	min-height: 107px;
	background-color: transparent;
	font-size: 15px;
	line-height: 20px;
	color: #7D8A9D;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u1549-8
{
	z-index: 35;
	width: 370px;
	min-height: 107px;
	background-color: transparent;
	font-size: 15px;
	line-height: 20px;
	color: #7D8A9D;
	position: relative;
	margin-right: -10000px;
	left: 799px;
}

#pu1550-5
{
	width: 0.01px;
	margin-left: 361px;
	margin-top: 12px;
}

#u1550-5
{
	z-index: 43;
	width: 122px;
	min-height: 18px;
	background-color: transparent;
	color: #C4CED1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u1552-5
{
	z-index: 48;
	width: 122px;
	min-height: 18px;
	background-color: transparent;
	color: #C4CED1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u1553-5
{
	z-index: 53;
	width: 122px;
	min-height: 18px;
	background-color: transparent;
	color: #C4CED1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 799px;
}

#u1565
{
	z-index: 58;
	width: 1205px;
	left: -180px;
	margin-top: 11px;
	position: relative;
	padding: 57px 425px 230.00000000000034px 540px;
	background: transparent url("../images/bg_img_03.png") no-repeat left center;
}

#u1557
{
	z-index: 59;
	width: 1171px;
	height: 1px;
	background-color: #E8E9E9;
	left: -1px;
	position: relative;
}

#u1564-4
{
	z-index: 60;
	width: 1205px;
	min-height: 42px;
	background-color: transparent;
	line-height: 38px;
	text-transform: uppercase;
	font-size: 32px;
	text-align: left;
	margin-top: 67px;
	position: relative;
}

#u1627
{
	z-index: 198;
	width: 1167px;
	height: 1px;
	background-color: #E8E9E9;
	margin-left: 362px;
	margin-top: 715px;
	position: relative;
}

#u1626-4
{
	z-index: 194;
	width: 1205px;
	min-height: 42px;
	background-color: transparent;
	line-height: 38px;
	text-transform: uppercase;
	font-size: 32px;
	text-align: left;
	margin-left: 361px;
	margin-top: 67px;
	position: relative;
}

#ppu1628-6
{
	width: 0.01px;
	margin-left: 358px;
	margin-top: 39px;
}

#pu1628-6
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1628-6
{
	z-index: 199;
	width: 511px;
	min-height: 90px;
	background-color: transparent;
	font-size: 15px;
	line-height: 20px;
	color: #7D8A9D;
	margin-left: 1px;
	position: relative;
}

#buttonu1629
{
	z-index: 205;
	width: 412px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 3px;
	margin-top: 7px;
	position: relative;
}

#buttonu1629.ButtonSelected
{
	width: 412px;
	min-height: 0px;
	margin: 7px 0px 0px;
}

#u1631
{
	z-index: 212;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1630-6
{
	z-index: 206;
	width: 382px;
	min-height: 45px;
	background-color: transparent;
	font-size: 17px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1629.ButtonSelected #u1630-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 382px;
	margin: 1px -10000px 0px 0px;
}

#u1630
{
	line-height: 22px;
}

#u1630-2
{
	font-size: 15px;
	line-height: 20px;
}

#buttonu1633
{
	z-index: 213;
	width: 413px;
	border-color: #787878;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#buttonu1633.ButtonSelected
{
	width: 413px;
	min-height: 0px;
	margin: 11px 0px 0px;
}

#u1635
{
	z-index: 219;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1634-5
{
	z-index: 214;
	width: 383px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1645
{
	z-index: 220;
	width: 413px;
	border-color: #787878;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u1646
{
	z-index: 226;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1648-5
{
	z-index: 221;
	width: 383px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1649
{
	z-index: 227;
	width: 413px;
	border-color: #787878;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u1651
{
	z-index: 233;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1650-5
{
	z-index: 228;
	width: 383px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1653
{
	z-index: 234;
	width: 413px;
	border-color: #787878;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u1655
{
	z-index: 240;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1654-5
{
	z-index: 235;
	width: 383px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1657
{
	z-index: 241;
	width: 413px;
	border-color: #787878;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#buttonu1645.ButtonSelected,#buttonu1649.ButtonSelected,#buttonu1653.ButtonSelected,#buttonu1657.ButtonSelected
{
	width: 413px;
	min-height: 0px;
	margin: 15px 0px 0px;
}

#u1658
{
	z-index: 247;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1660-5
{
	z-index: 242;
	width: 383px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1633.ButtonSelected #u1634-5,#buttonu1645.ButtonSelected #u1648-5,#buttonu1649.ButtonSelected #u1650-5,#buttonu1653.ButtonSelected #u1654-5,#buttonu1657.ButtonSelected #u1660-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 383px;
	margin: 1px -10000px 0px 0px;
}

#u1661
{
	z-index: 248;
	width: 570px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 602px;
}

#u1664
{
	z-index: 249;
	width: 570px;
	height: 316px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../images/classes_img_05.jpg") no-repeat left top;
}

#u1566
{
	z-index: 64;
	width: 1205px;
	position: relative;
	margin-right: -10000px;
	margin-top: 892px;
	padding: 56px 425px 82px 540px;
	background: transparent url("../images/bg_img_04.png") no-repeat right center;
}

#pu1567
{
	width: 0.01px;
}

#u1567
{
	z-index: 65;
	width: 570px;
	height: 302px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/classes_img_04.jpg") no-repeat left top;
}

#pu1568-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 600px;
}

#u1568-4
{
	z-index: 66;
	width: 557px;
	min-height: 88px;
	background-color: transparent;
	font-size: 15px;
	line-height: 20px;
	color: #7D8A9D;
	position: relative;
}

#u1569-14
{
	z-index: 70;
	width: 557px;
	min-height: 218px;
	background-color: transparent;
	font-size: 15px;
	line-height: 36px;
	color: #7D8A9D;
	margin-top: 2px;
	position: relative;
}

#u1576
{
	z-index: 84;
	width: 1167px;
	height: 1px;
	background-color: #E8E9E9;
	margin-left: 1px;
	margin-top: 69px;
	position: relative;
}

#u1577-4
{
	z-index: 85;
	width: 1205px;
	min-height: 42px;
	background-color: transparent;
	line-height: 38px;
	text-transform: uppercase;
	font-size: 32px;
	text-align: left;
	left: -1px;
	margin-top: 67px;
	position: relative;
}

#pu1578-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 37px;
}

#u1578-4
{
	z-index: 89;
	width: 281px;
	min-height: 50px;
	background-color: transparent;
	line-height: 46px;
	color: #FF4444;
	font-size: 38px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u1579-4
{
	z-index: 93;
	width: 332px;
	min-height: 50px;
	background-color: transparent;
	line-height: 46px;
	color: #FF4444;
	font-size: 38px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 398px;
}

#u1580-4
{
	z-index: 97;
	width: 332px;
	min-height: 50px;
	background-color: transparent;
	line-height: 46px;
	color: #FF4444;
	font-size: 38px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 799px;
}

#pu1581-4
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 5px;
}

#u1581-4
{
	z-index: 101;
	width: 370px;
	min-height: 107px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	color: #7D8A9D;
	position: relative;
	margin-right: -10000px;
}

#u1582-6
{
	z-index: 105;
	width: 370px;
	min-height: 89px;
	background-color: transparent;
	font-size: 15px;
	line-height: 21px;
	color: #7D8A9D;
	position: relative;
	margin-right: -10000px;
	left: 399px;
}

#u1583-11
{
	z-index: 111;
	width: 370px;
	min-height: 167px;
	background-color: transparent;
	color: #7D8A9D;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#u1583-5
{
	line-height: 15px;
}

#u1583-2,#u1583-4,#u1583-7,#u1583-9
{
	line-height: 21px;
}

#u492
{
	z-index: 258;
	width: 1890px;
	padding-bottom: 59px;
	margin-right: -10000px;
	left: 180px;
}

#menuu456
{
	z-index: 261;
	width: 446px;
	margin-right: -10000px;
	margin-top: 60px;
	left: 859px;
}

#u485
{
	width: 44px;
	min-height: 26px;
	margin-right: -10000px;
}

#u486
{
	width: 44px;
	padding-bottom: 6px;
}

#u486.MuseMenuActive
{
	width: 44px;
	min-height: 0px;
	margin: 0px;
}

#u488-4
{
	width: 44px;
	min-height: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: -10000px;
	top: 4px;
}

#u486:hover #u488-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 44px;
	margin: -1px -10000px 0px 0px;
}

#u486.MuseMenuActive #u488-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 44px;
	margin: -1px -10000px 0px 0px;
}

#u478
{
	width: 60px;
	min-height: 26px;
	margin-right: -10000px;
	left: 84px;
}

#u481
{
	width: 60px;
	padding-bottom: 6px;
}

#u481.MuseMenuActive
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u483-4
{
	width: 60px;
	min-height: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: -10000px;
	top: 3px;
}

#u481:hover #u483-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 60px;
	margin: -1px -10000px 0px 0px;
}

#u481.MuseMenuActive #u483-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 60px;
	margin: -1px -10000px 0px 0px;
}

#u457
{
	width: 69px;
	min-height: 26px;
	margin-right: -10000px;
	left: 184px;
}

#u460
{
	width: 69px;
	padding-bottom: 6px;
}

#u460.MuseMenuActive
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u462-4
{
	width: 69px;
	min-height: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: -10000px;
	top: 3px;
}

#u460:hover #u462-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 69px;
	margin: -1px -10000px 0px 0px;
}

#u460.MuseMenuActive #u462-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 69px;
	margin: -1px -10000px 0px 0px;
}

#u464
{
	width: 54px;
	min-height: 26px;
	margin-right: -10000px;
	left: 293px;
}

#u465
{
	width: 54px;
	padding-bottom: 6px;
}

#u465.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u466-4
{
	width: 54px;
	min-height: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: -10000px;
	top: 3px;
}

#u465:hover #u466-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 54px;
	margin: -1px -10000px 0px 0px;
}

#u465.MuseMenuActive #u466-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 54px;
	margin: -1px -10000px 0px 0px;
}

#u471
{
	width: 59px;
	min-height: 26px;
	margin-right: -10000px;
	left: 387px;
}

#u474
{
	width: 59px;
	padding-bottom: 6px;
}

#u474.MuseMenuActive
{
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u477-4
{
	width: 59px;
	min-height: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: -10000px;
	top: 3px;
}

#u474:hover #u477-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 59px;
	margin: -1px -10000px 0px 0px;
}

#u474.MuseMenuActive #u477-4
{
	padding-top: 3px;
	padding-bottom: 3px;
	min-height: 14px;
	width: 59px;
	margin: -1px -10000px 0px 0px;
}

#u495
{
	z-index: 292;
	width: 35px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 1360px;
}

#u494-4
{
	z-index: 293;
	width: 131px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 1404px;
}

#u505
{
	z-index: 259;
	width: 379px;
	height: 474px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 180px;
}

#u493
{
	z-index: 260;
	width: 334px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 541px;
}

#u506
{
	z-index: 297;
	width: 309px;
	height: 380px;
	margin-right: -10000px;
	left: 1761px;
}

#u1542
{
	z-index: 298;
	width: 370px;
	height: 216px;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 540px;
	background: transparent url("../images/classes_img_01.jpg") no-repeat left top;
}

#u1539-4
{
	z-index: 301;
	width: 1236px;
	min-height: 42px;
	background-color: transparent;
	line-height: 38px;
	text-transform: uppercase;
	font-size: 32px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 540px;
}

#buttonu2164
{
	z-index: 306;
	width: 42px;
	border-color: #787878;
	background-color: #FF4444;
	border-radius: 25px;
	padding-bottom: 6px;
	position: fixed;
	top: 1035px;
	left: 1680px;
}

#buttonu2164:hover
{
	background-color: #B2B2B2;
	background-color: rgba(0,0,0,0.3);
	width: 42px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0,0,0,0.3);
}

#buttonu2164.ButtonSelected
{
	background-color: #FF4444;
	background-color: rgba(255,68,68,1);
	width: 42px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(255,68,68,1);
}

#u2165
{
	z-index: 307;
	width: 30px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

#buttonu1602
{
	z-index: 150;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 758px;
	top: -774px;
	margin-bottom: -21px;
	position: relative;
}

#u1604
{
	z-index: 156;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1603-5
{
	z-index: 151;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1584
{
	z-index: 122;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 357px;
	top: -753px;
	margin-bottom: -21px;
	position: relative;
}

#u1585
{
	z-index: 128;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1587-5
{
	z-index: 123;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1606
{
	z-index: 164;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 758px;
	top: -738px;
	margin-bottom: -21px;
	position: relative;
}

#buttonu1602.ButtonSelected,#buttonu1606.ButtonSelected
{
	width: 372px;
	min-height: 0px;
	margin: 0px 0px -21px 758px;
}

#u1608
{
	z-index: 170;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1607-5
{
	z-index: 165;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1590
{
	z-index: 129;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 357px;
	top: -717px;
	margin-bottom: -21px;
	position: relative;
}

#u1592
{
	z-index: 135;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1591-5
{
	z-index: 130;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#pbuttonu1610
{
	width: 0.01px;
	margin-left: 758px;
	margin-top: -702px;
}

#buttonu1610
{
	z-index: 178;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1611
{
	z-index: 184;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1613-5
{
	z-index: 179;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1618
{
	z-index: 157;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 399px;
}

#buttonu1618.ButtonSelected
{
	width: 372px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#u1620
{
	z-index: 163;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1619-5
{
	z-index: 158;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1594
{
	z-index: 136;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 357px;
	top: -681px;
	margin-bottom: -21px;
	position: relative;
}

#u1596
{
	z-index: 142;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1595-5
{
	z-index: 137;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#pbuttonu1614
{
	width: 0.01px;
	margin-left: 758px;
	margin-top: -665px;
}

#buttonu1614
{
	z-index: 185;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu1610.ButtonSelected,#buttonu1614.ButtonSelected
{
	width: 372px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1616
{
	z-index: 191;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1615-5
{
	z-index: 186;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1622
{
	z-index: 171;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 399px;
}

#buttonu1622.ButtonSelected
{
	width: 372px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u1623
{
	z-index: 177;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1625-5
{
	z-index: 172;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1598
{
	z-index: 143;
	width: 372px;
	border-color: #787878;
	background-color: transparent;
	margin-left: 357px;
	top: -644px;
	margin-bottom: -21px;
	position: relative;
}

#buttonu1584.ButtonSelected,#buttonu1590.ButtonSelected,#buttonu1594.ButtonSelected,#buttonu1598.ButtonSelected
{
	width: 372px;
	min-height: 0px;
	margin: 0px 0px -21px 357px;
}

#u1599
{
	z-index: 149;
	width: 17px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF4444;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1601-5
{
	z-index: 144;
	width: 341px;
	min-height: 20px;
	background-color: transparent;
	font-size: 17px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 30px;
}

#buttonu1602.ButtonSelected #u1603-5,#buttonu1584.ButtonSelected #u1587-5,#buttonu1606.ButtonSelected #u1607-5,#buttonu1590.ButtonSelected #u1591-5,#buttonu1610.ButtonSelected #u1613-5,#buttonu1618.ButtonSelected #u1619-5,#buttonu1594.ButtonSelected #u1595-5,#buttonu1614.ButtonSelected #u1615-5,#buttonu1622.ButtonSelected #u1625-5,#buttonu1598.ButtonSelected #u1601-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 341px;
	margin: 1px -10000px 0px 0px;
}

#u1630-4,#u1634-3,#u1648-3,#u1650-3,#u1654-3,#u1660-3,#u1603-3,#u1587-3,#u1607-3,#u1591-3,#u1613-3,#u1619-3,#u1595-3,#u1615-3,#u1625-3,#u1601-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1634,#u1648,#u1650,#u1654,#u1660,#u1603,#u1587,#u1607,#u1591,#u1613,#u1619,#u1595,#u1615,#u1625,#u1601
{
	font-size: 15px;
	line-height: 15px;
}

#pu1663
{
	width: 0.01px;
	margin-left: -180px;
	margin-top: -484px;
}

#u1663
{
	z-index: 192;
	width: 2170px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/bg_img_05.png") no-repeat left top;
}

#u1662
{
	z-index: 193;
	width: 331px;
	height: 692px;
	position: relative;
	margin-right: -10000px;
	margin-top: -100px;
	left: 1739px;
	background: transparent url("../images/flower_05.jpg") no-repeat center center;
}

#u449
{
	z-index: 250;
	width: 1168px;
	padding-left: 340px;
	padding-right: 382px;
	padding-bottom: 44px;
	margin-right: -10000px;
	margin-top: 484px;
	left: 180px;
}

#u450
{
	z-index: 251;
	width: 1168px;
	height: 1px;
}

#u451-6
{
	z-index: 252;
	width: 259px;
	min-height: 18px;
	margin-left: 19px;
	margin-top: 45px;
}

body
{
	position: relative;
	min-width: 1890px;
	padding-bottom: 80px;
}

#page .verticalspacer
{
	clear: both;
}

